* {
	box-sizing: border-box;
}

.card {
	border: 1px solid lightblue;
	float: left;
	width: 30%;
	margin-left: 2.5%;
}

ul li {
	font-weight: bold;
	list-style: none;
}

img {
	width: 90%;
	margin-left: 5%;
}

.mainHeader {
	border: 1px dotted lightgrey;
}

.mainHeader h1 {
	text-align: center;
}

.mainHeader h1,
.pricing h3,
.specifications h2,
.specifications h6 {
	margin-left: 5%;
}

.specifications {

}

.genInfo p {
	width: 95%;
	margin: 0 2.5%;
	text-align: justify;
}


.availability {
	background-color: darkgrey;
	color: yellow;
}