* {
	box-sizing: border-box;
}

.card {
	font-family: 'Source Sans Pro', sans-serif;
	border: 1px solid lightblue;
	float: left;
	width: 30%;
	margin:2.5% 0 0 2.5%;
}

.card:last-child {
	margin-bottom: 2.5%;
}

.mainHeader {
	border: 1px dotted lightgrey;
}

.mainHeader h1 {
	text-align: center;
}

img {
	width: 90%;
	margin: 2.5% 5%;
}

ul {
	margin: 0;
}

ul li {
	font-weight: bold;
	list-style: none;
}

ul li:last-child {
	margin-bottom: 2.5%;
}
.pricing h3,
.specifications h2,
.specifications h6 {
	margin-left: 5%;
}

.specifications h2,
.pricing h3 {
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}

.specifications h6 {
	margin-top: 5%;
	margin-bottom: 5%;
}

.genInfo p {
	width: 95%;
	margin: 0 2.5%;
	text-align: justify;
}

.availability {
	background-color: darkgrey;
	color: yellow;
}

.availability h4 {
	margin: 5% 2.5%;
}